# Скопируйте этот файл в .env и при необходимости поменяйте значения.
# .env в git не попадает (см. .gitignore), .env.example - попадает.
# Важно: всё, что сюда попадает, окажется в публичном бандле. Секретам тут не место.

API_URL=https://res.cloudinary.com/sivadass/raw/upload/v1535817394/json/products.json
